@model List<Libro>

<h1 style="color:blue">
    Libros Session List
</h1>

<h2 style="color:red">@ViewData["MENSAJE"]</h2>

<ul class="list-group">
    @foreach (Libro lib in Model)
    {
        <li class="list-group-item list-group-item-warning">
            @lib.Titulo
            <a asp-controller="Libros"
               asp-action="SessionLibros"
               asp-route-idlibro="@lib.IdLibro">
                Comprar
            </a>
        </li>
    }
</ul>
